*,*::after,*::before{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.mini-section{
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
}

.title-bar{
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 20px 5px;
}
.pagination a, .pagination span {
    background: 0 0;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.6);
    display: block;
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    min-width: 25px;
    padding: 0;
}